*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.project_data_nodes_dump
*.project_ide_models_dump
!gradle-wrapper.jar
